## Test Result

![](/images/test-execution.png)

---

## Key takeaways

linkedTree:

```java
@Erupt(name = "测试执行结果",
        power = @Power(importable = true, export = true)
        , linkTree = @LinkTree(field = "testRun")
)
public class TestResult extends ModelWithValidFlagVo {
}
```

---


## Done! One Day!
